<!DOCTYPE html>
<html Lang="es">
	<head>
		<meta charset="utf-8">
		<title>Acceso Denegado</title>
		<link type="image/x-icon" href="https://vignette.wikia.nocookie.net/grimm/images/a/a5/X.png/revision/latest?cb=20161103004859" rel="icon">
	</head>
	<body style="background-color:#DF0101"; topmargin="300";>
		<div>
			<h1 align="center"; style="color:#FFFFFF";>ACCESO DENEGADO!</h1>
			<form action="">
				<p align="center"><input type="submit" class="btn bbtn-primary" value="Volver"></p>
			</form>
		</div>
	</body>
</html>