<!DOCTYPE html>
<html Lang="es">
	<head>
		<meta charset="utf-8">
		<title>United Chat</title>
		<link type="image/x-icon" href="https://image.ibb.co/fXxHgG/iconologo.jpg" rel="icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--Codigo libre tomado de http://getbootstrap.com/-->
	</head>
	<body style="background-color:#0174DF;">
		{% include 'includes/_navbar.html' %}
		<div class="container">
			{% block body %}
			{% endblock %}
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--Codigo libre tomado de http://getbootstrap.com/-->
	</body>
</html>>